<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Information</title>
</head>
<body>
    <%if (result.length >0) { %>
    <div class="card__content">
            <h2 class="user__email"> Name-<%- result[0].name %></h2>
        <h2 class="user__email"> Email- <%- result[0].email %> </h2>

    </div>
    <% } else { %>
        <h2> No Results found </h2>

        <% } %>
  
</body>
</html>