<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='../node_modules/jquery/dist/jquery.min.js'></script>
    <style type="text/css">
        p{
            padding: 20px;
            font: 20px sans-serif;
            background:pink;
        }
        p.highlight{
            background: yellow;
        }
        p.highlighted{
            background: red;
        }
        .frame{
        border: 6px solid #000;
    }
    </style>
</head>
<body>
    <form>
        <table>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" id="name">
                </td>
            </tr>
            <tr>
                <td>Comments:</td>
                <td>
                    <textarea rows="4" cols="30" id="comment"></textarea>
                </td>
            </tr>
            <tr>
                <td>City:</td>
                <td>
                    <select id="city">
                        <option>London</option>
                        <option>Paris</option>
                        <option>New York</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
    <p><strong>Note:</strong> Fill the above form and click the following button to get the value.</p>
    <button type="button" class="get-name">Get Name</button>
    <button type="button" class="get-comment">Get Comment</button>
    <button type="button" class="get-city">Get City</button>

    <script src='../index.js'></script>
    
</body>
</html>                            
<!-- <body>
<h2> helloo </h2>

<main>
  <h1>Today's articles</h1>

  <article id="article-1">
    <h2 class="mark">First Contact with Alien Beings in History of Mankind</h2>
    <section>
      <p>Finally! They are here.....</p>
      <p>What do we do now!?</p>
      <button type="button">Replace Text</button>
    </section>
  </article>

  <article id="article-2">
    <h2 class="horticulture">How to grow Bonsai</h2>
    <section>
      <p>If you are in need of stress relief ...</p>
    </section>
  </article>
</main>
<input type="text">
    <div>Keypress: <span>0</span></div>
	<div><strong>Note:</strong> Enter something inside the input box and see the result.</div>
    <p>Keypress is triggered.</p>

    <form action="" method="post" id="users">
        <label for="firstName">First Name:</label>
        <input type="text" name="first-name" id="firstName">
        <input type="submit" value="Submit">
        <div id="result"></div>
    </form>    
</body> -->
</html>